.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.flex-example {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: blue;
  padding: 10px 20px;
  border: 10px white solid;
  margin: 20px 10px;
}

.food-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.food-card {
  display: flex;
  width: 25vw;
  position: relative;
  margin: 30px 10px;
  padding: 10px 5px;
}

.food-card .food-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}

.food-image img {
  max-width: 480px;
  max-height: 150px;
}
